:root {
  --body-color: #c1c3c3;
  --text-color: rgb(100, 98, 98);
  --background-color: #dadadc;
  --container-color: #fafafa;
  --title-background-color: #363636;
  --title-color: white;
  --item-color: #302f2f;
}
/* Backgrounds and colors */
body,
.dnd-container {
  background-color: var(--body-color);
  color: var(--text-color);
}

.project-list,
.dnd-container div {
  background-color: var(--container-color);
}

.project-list h2,
.dnd-container h2 {
  background-color: black;
}

.item,
.project-list ul li {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: var(--item-color);
}

body {
  padding: 0;
  margin: 0;
}

/* Shared styles */

.project-list,
.dnd-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* App */
.app {
  display: flex;
  min-width: 100dvw;
  min-height: 100dvh;
  justify-content: center;
}

/* Aside */
.project-list {
  display: flex;
  flex-direction: column;
  width: 17%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.project-list h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #7cdaf9;
}

.project-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2px;
  margin-top: 10px;
}

.project-list ul li,
.item {
  cursor: pointer;
  display: flex;
  padding: 5px 0px 5px 10px;
  border: none;
  width: 88%;
}

.item {
  cursor: grab;
  font-family: sans-serif;
}

.project-list ul li:hover {
  background-color: #7cdaf9;
  color: black;
}

.project-list ul li {
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#new-project-modal {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* DnD container - Main content */

.dnd-container {
  display: flex;
  justify-content: center;
  /* width: 80%; */
  gap: 30px;
  margin-left: 30px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  gap: 5px;
  user-select: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.items-container h2,
.project-list h2 {
  height: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.items-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

#TODO {
  color: #ef673d;
}

#IN-PROGRESS {
  color: #fefda2;
}

#DONE {
  color: #66cc67;
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 16.5px;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
  width: 91.5%;
  background-color: var(--container-color);
  border: none;
  opacity: 0.6;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

#add-task-modal,
#new-project-modal {
  display: flex;
  width: 91%;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

#add-task-form,
#new-project-form {
  display: flex;
  justify-content: space-around;
  width: 92%;
  gap: 5px;
}

#add-task-form input[type='text'],
#new-project-form input[type='text'] {
  width: 82%;
}

#add-task-modal button,
#new-project-modal button {
  width: 9%;
  padding: 5px;
}

.add-project {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 16.5px;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
  width: 91.1%;
  background-color: var(--container-color);
  border: none;
  opacity: 0.6;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.add-item:hover,
.add-project:hover {
  background-color: #3b3b3b;
  transition: 0.2s;
  color: white;
  border: none;
}

.item-TODO:hover {
  background-color: #ef673d;
  border: none;
}

.item-IN-PROGRESS:hover {
  background-color: #fefda2;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.item-DONE:hover {
  background-color: #66cc67;
  border: none;
}

/* Footer buttons */
.footer-buttons,
.footer-tasks-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

/* Delete mode project list */
.delete-mode-projects {
  display: flex;
  background: none;
  border: none;
  margin-bottom: 3px;
  margin-right: 3px;
}

.delete-mode-projects:hover,
.edit-mode-projets:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete-project,
.delete-task {
  display: flex;
  background: none;
  border: none;
  margin: 0;
  margin-left: auto;
}

.delete-project:hover,
.delete-task:hover {
  cursor: pointer;
  opacity: 0.7;
  color: white;
  scale: 1.2;
}

/* Delete mode tasks */

.delete-mode-tasks {
  display: flex;
  background: none;
  border: none;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 5px;
}

.delete-mode-tasks:hover {
  cursor: pointer;
  opacity: 0.7;
  scale: 1.1;
}

/* Edit mode projects */
.edit-mode-projets,
.edit-mode-tasks {
  display: flex;
  background: none;
  border: none;
  margin-bottom: 2px;
}

/* Responsive */

@media screen and (max-width: 1282px) {
  /* De 1282px para abajo se rompen los estilos */
}
