body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

.app h1 {
  text-align: center;
  height: 5%;
  margin: 1%;
}

.dnd-container {
  display: flex;
  justify-content: center;
  min-height: 89%;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  margin: 10px;
  min-height: 100%;
  gap: 5px;
  /* border: 1px solid gray; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  user-select: none;

  transition: all 0.3s ease;
}

.items-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.item {
  width: 90%;
  min-height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: move;
}
